.header div{
	background: #333;
	padding-top: 5px;
}

.Lists div {
	height: 300px;
	background: #333;
	overflow-y: scroll;
}

.Buscet div{
	height: 400px;
	background: #008000;
	overflow-y: scroll;
	border:solid 1px #CCCCCC;
}